@if(User.Identity.IsAuthenticated)
{
    <div class="d-flex">
        <form class="d-flex">
            <button class="btn btn-outline-secondary" asp-page="/Account/Details">Account</button>
        </form>
        <form method ="post" asp-page="/Account/Logout" class="ms-1">
            <button class="btn btn-secondary" type="submit">Logout</button>
        </form>
    </div>
        
}
else
{
    <form class"d-flex">
        <button class="btn btn-outline-secondary" asp-page="/Account/Create">Create account</button>
        <button class="btn btn-secondary" asp-page="/Account/Login">Login</button>
    </form>
}