@page
@model CollegeRoadSwimmingClub.Pages.Galas.Races.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Race.EventId" class="control-label">Event</label>
                <select asp-for="Race.EventId" class ="form-control" asp-items="ViewBag.EventId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Race.GalaId" class="control-label">Gala</label>
                <input type="hidden" asp-for="Race.GalaId" value="@Model.Race.GalaId"/>
                <select asp-for="Race.GalaId" class ="form-control" asp-items="ViewBag.GalaId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="Race.ClassId" class="control-label">Class</label>
                <select asp-for="Race.ClassId" class ="form-control" asp-items="ViewBag.ClassId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Race.DateTime" class="control-label"></label>
                <input asp-for="Race.DateTime" class="form-control" />
                <span asp-validation-for="Race.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@Model.Race.GalaId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
