@page
@model IndexModel
@{
    ViewData["Title"] = "College Road Swimming Club";
}

<div class="text-center">
    <h1 class="display-4">College Road Swimming Club</h1>
    <p>Welcome to the College Road Swimming Club digital portal.</p>
    <div class="row">
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-white"><i class="fa-solid fa-trophy fa-5x" style="color:#008080"></i></div>
                <div class="card-body">
                    
                    <p><a asp-area="" asp-page="/Galas/Index" class="btn btn-secondary">Galas</a></p>
                    <p class="card-text">View and manage galas, races and race results</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-white"><i class="fa-solid fa-users-line fa-5x" style="color:#008080"></i></div>
                <div class="card-body">
                    <p><a asp-area="" asp-page="/Squads/Index" class="btn btn-secondary">Squads</a></p>
                    <p class="card-text">View and manage squads and training data</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-white"><i class="fa-solid fa-scale-balanced fa-5x" style="color:#008080"></i></div>
                <div class="card-body">
                    <p><a asp-area="" asp-page="/Swimmers/Index" class="btn btn-secondary">Swimmers</a></p>
                    <p class="card-text">View and compare swimmers</p>
                </div>
            </div>
        </div>  
    </div>    
</div>
